.SECTIONBACKGROUNDCANVAS
{

font-size  : 12pt;
font-family: Verdana;
font-weight: normal;
background-color:    #BA7474;
}
.BUTTON_STYLE
{
font-size  : 8pt;
font-family: Verdana;
font-weight: normal;
background-color:    #F1E4E4;
	
}

.LABEL_CELL
{

font-size  : 8pt;
font-family: Verdana;
font-weight: normal;
background-color:    #BA7474;
}

.SITE_BACKGROUND
{

background-color:    #ffffff;
}

.TITLE_CELL
{

font-size  : 12pt;
font-family: Verdana;
font-weight: bold;
color:    #ffffff;
background-color:    #BA7474;
}


.BACKGROUNDCANVAS
{

background-color:    #BA7474;
}

.FORM_FIELD_CELL
{
font-size  : 8pt;
font-family: Verdana;
font-weight: bold;
}

.MENU_CELL
{

font-size  : 10pt;
font-family: Verdana;
font-weight: bold;
color:    #ffffff;
background-color:    #C8E1FF;
}

A:link
{

color:    #BA7474;
}

.SECTIONFOREGROUNDCANVAS
{

background-color:    #ffffff;
}

A:visited
{

color:    #BA7474;
}

TD
{

font-size  : 10pt;
font-family: Verdana,Arial,Helvetica;
}
 
.SECTION_TITLE
{

font-size  : 12pt;
font-family: Verdana;
font-weight: bold;
color:    #ffffff;
background-color:    #BA7474;
}

.SUB_SECTION_TITLE
{

font-size  : 10pt;
font-family: Verdana;
font-weight: bold;
color:    #ffffff;
background-color:    #BA7474;
}

.PAGE_HEADER
{

font-size  : 14pt;
font-weight: bold;
color:    #000000;
background-color:    #ffffff;
}

.PARTY_NAME_CELL
{

font-size  : 18pt;
font-family: Century Gothic;
font-weight: bold;
color:    #000000;
background-color:    #ffffff;
}

.TABLE_HEADER
{

font-size  : 9pt;
font-weight: bold;
color:    #ffffff;
background-color:    #BA7474;
}

.TABLE_ODD_ROW
{

font-size  : 8pt;
font-family: Verdana,Arial,Helvetica;
font-weight: normal;
background-color:    #f0f0f0;
}

.TABLE_EVEN_ROW
{

font-size  : 8pt;
font-family: Verdana,Arial,Helvetica;
font-weight: normal;
background-color:    #E0E0E0;
}

.ERROR_FIELD_CELL
{

font-size  : 8pt;
font-family: Verdana;
color:    #ff0000;
}

.INFO_FIELD_CELL
{

font-size  : 11pt;
font-family: Verdana;
color:    #000000;
}

.FOREGROUNDCANVAS
{

background-color:    #ffffff;
}
.MANDATE 
{  
font-family: Verdana; 
font-size: 10px; 
font-weight: bold; 
color: #FF0000
}
table {
  border-collapse: collapse;
  border: none;
  font: medium 15px helvetica, verdana, arial, sans-serif;
  /*background-image: url(http://www.acuity.com.br/extern/icant.co.uk/bg_acuity.gif);*/ 
  background-repeat: repeat;

border-spacing: 1px;
  }
caption {
  text-align: left;
  font: normal 11px helvetica, verdana, arial,  sans-serif;
  background: transparent;
  }
td, th {
  border: none;
  padding: .8em;
  color: #6E6E6E;
  }
thead th, tfoot th {
  font: bold 10px helvetica, verdana, arial, sans-serif;
  border: none;
  text-align: left;
  background: #000000;
  color: #00FF0C;
  padding-top:4px;
  }
tbody td a {
  background: transparent;
  text-decoration: none;
  color: #9F9F9F;
  }
tbody td a:hover {
  background: transparent;
  color: #00FF0C;
  }
tbody th a {
  font: bold 11px helvetica, verdana, arial, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight:normal;
  color: #9F9F9F;
  }
  
  
tbody td+td+td+td a {
    padding-right: 14px;
    background: url(http://www.acuity.com.br/extern/icant.co.uk/arrow.gif) transparent no-repeat bottom right;
    }
    tbody td+td+td+td a:hover {
        padding-right: 14px;
    background: url(http://www.acuity.com.br/extern/icant.co.uk/arrow.gif) transparent no-repeat bottom right;
    }
tbody th a:hover {
  background: transparent;
  color: #00FF0C;
  }
tbody th, tbody td {
  vertical-align: top;
  text-align: left;
  }

.odd {
  background: #000000;
  }
  /*
tbody tr:hover {
  background: #0E0E0E;
  }
tbody tr:hover th,
tbody tr.odd:hover th {
  background: #0E0E0E;
  }*/
  
  h3 {text-decoration: underline}
